body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(22, 22, 22);
}

.temostudo{
    background-color: rgb(22, 22, 22);
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.logoBanner img{
    position: relative;
    top: 20px;
    width: 11%;
    float: left;
    margin-left: 2em;
}

.caixaMenu{
    text-align: right;
    background: url(./imagens/BANNER.jpg) no-repeat center;
    background-size: 130%;
    border: 2px solid black;
    padding: 0.02em;
}

.caixaMenu nav li {
    display: inline;
    padding: 22px;
}

.caixaMenu nav a {
color: white;
font-size: 20px;
text-decoration: none;
font-weight: bold;
}

.caixaMenu nav a:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.textinho{
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 5px 45px 10px 35px;
}

.nomeSite{
    text-align: center;
    color: white;
    font-size: 5em;
    font-weight: bold;
}

.content {
    height: 400px;
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    left: 28%;
    margin-top: auto;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;

}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

.caixaDestaque{
    text-align: center;
}

.caixaDestaque img{
    width: 20%;
    border-radius: 50px;
}

.caixaDestaque p{
    margin-left: 80px;
    margin-right: 80px;
}

.tituloH2 {
    font-size: 25px
}

.caixaOfertas{
    text-align: center;
    padding: 35px;
}

.caixaOfertas tr td{
    border-radius: 10px;
}

.caixaOfertas figcaption{
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

.caixaOfertas p{
    font-size: 16px;
    text-align: right;
    margin-right: 36px;
    color: white;
}

.caixaOfertas s{
    color: gray;
}

.caixaOfertas img{
    border-radius: 10px;
    width: 75%;
}

.caixaOfertas img:hover {
    transform: scale(1.04,1.04);
    transition: .1s;
}

.servico{
    text-align: center;
    display: inline;
}

.servico ul li{
    padding: 1em;
    display: inline;
}

.servico img {
    border-radius: 12px;
}

.servico ul li :hover {
    transform: scale(1.05,1.05);
    transition: .1s;
}

.tituloTIPO{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.caixaContato li{
    text-align: center;
    list-style: none;
    color: white;
}

.corFundo{
    background-color: rgb(22, 22, 22);
    border: 2px solid white;
}

.caixaContato p {
    color: white;
    margin-left: 160px;
    margin-right: 160px;
}

.tituloContato {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}